@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

:root {
  --bs-body-font-family: "Pretendard-Regular";
}

/*-------- 타이핑효과 -------- */

.typing-demo {
  width: 18ch;
  animation: typing 1s steps(22), blink .5s infinite;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1.5px solid;
  font-family: "Pretendard-Regular";
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
	50%{
		border-top-color:black;
	}
}