/* 웹 폰트 다운로드, 적용 */
h1{
	font-family: "Pretendard-ExtraBold";
}
h2{
	font-family: "Pretendard-SemiBold";
	font-size: x-large;
}
:root {
  --bs-body-font-family: "Pretendard-Regular";
}

/*-------- 타이핑효과 -------- */

.typing-demo {
  width: 18ch;
  animation: typing 1s steps(22), blink .5s infinite;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1.5px solid;
  font-family: "Pretendard-Regular";
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
	50%{
		border-top-color:black;
	}
}