/* 웹 폰트 다운로드, 적용 */
h1{
	font-family: "Pretendard-ExtraBold";
}
h2{
	font-family: "Pretendard-SemiBold";
	font-size: x-large;
}
:root {
  --bs-body-font-family: "Pretendard-Regular";
}

/* 동영상 위에 글씨 프로팅 설정 */
video {height: 500px; width: 500px; margin: 80px;}
.jb-text{position:absolute; top:30%; width: 100%; font-family: "Pretendard-SemiBold";}